body {
  background-image: url(../img/fond.png);
}
.container {
  width: 1400px;
  margin: auto;
  background-color: white;
}
/* hdr */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}
header h1 {
  margin: 0;
}
.hdr2 h2 {
  color: rgb(103, 220, 255);
}
.hdr2 {
  position: relative;
}
.hdr2 p {
  position: absolute;
  color: rgb(103, 220, 255);
}
header p {
  margin: 0;
  color: rgb(224, 36, 168);
  top: 70px;
  right: 50px;
}
/* hdr1 */
.hdr1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotransition {
  padding: 10px;
}
.logotransition img {
  transition: ease-out 3s;
}
.logotransition img:hover {
  transform: rotate(360deg);
}

.hdr4 {
  color: white;
}
.hdr4a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(103, 220, 255);
  margin-top: 5px;
}
.hdr4b {
  background-color: rgb(103, 220, 255);
}
/* NAV/ul */

nav {
  background-color: rgb(103, 220, 255);
}
.menu {
  height: 100%;
  width: 10%;
  background-color: rgb(224, 36, 168);
  margin-right: 0px;
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  height: 100%;
  padding-left: 0%;
}
nav a {
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
nav {
  height: 30px;
}

/* footer */
footer {
  background-color: rgb(103, 220, 255);
  height: 40px;
}
.ulftr {
  height: 100%;
}
footer a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
/* main */
.section1 img {
  width: 100%;
}

.section2 {
  display: flex;
  justify-content: space-between;
}
.section2a {
  width: 20%;
  margin-left: 15px;
  border-right: solid 2px rgb(222, 222, 222);
}
/* ....H3...... */
h3 {
  color: rgb(103, 220, 255);
}
.section2b {
  width: 60%;
  border-right: solid 2px rgb(222, 222, 222);
  margin-right: 20px;
  margin-left: 20px;
}
.section2c {
  width: 20%;
}

.section3 {
  display: flex;
  justify-content: space-around;
}
.section3a {
  display: flex;
  margin-left: 15px;
  border: solid 1px rgb(246, 240, 240);
}
.section3a p {
  text-align: center;
}

.bon {
  text-align: center;
  background-image: url(../img/fond.png);
  margin-left: 15px;
  padding-bottom: 1px;
  border-radius: 5px 5px 0 0;
}
section h4 {
  text-align: end;
  color: rgb(103, 220, 255);
}
.section3b {
  display: flex;
  margin: 15px;
  border: solid 1px rgb(246, 240, 240);
}
.coup {
  text-align: center;
  background-image: url(../img/fond.png);
  margin-left: 15px;
  padding-bottom: 1px;
  border-radius: 5px 5px 0 0;
}
.section3c {
  display: flex;
  margin-left: 15px;
  border: solid 1px rgb(246, 240, 240);
}
.objectif {
  text-align: center;
  background-image: url(../img/fond.png);
  margin-left: 15px;
  padding-bottom: 1px;
  border-radius: 5px 5px 0 0;
}
.bg {
  margin: 0px 20px;
  border-radius: 3%;
}
